<div class="index-page">
  <div class="container">
    <div class="center-block">
      <h1 class="page-header">Praise Set History</h1>

      <%= link_to "Create new praise set", new_praise_set_path, class: "btn btn-info" %>

      <div class="history">
        <% @praise_sets.each do |set| %>
          <div class="row">
            <h3><%= link_to set.event_name, edit_praise_set_path(set) %></h3>
            <p><%= set.owner.name %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= set.event_date %></p>
            <ol>
              <% set.songs.each do |song| %>
                <li><%= song.name %></li>
              <% end %>
            </ol>
            <% if set.notes %>
              Notes:
              <%= simple_format set.notes %>
            <% end %>
            <hr>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>