<%= form_for @song, html: {class: 'form'} do |f| %>
  <% if @song.errors.any? %>
    <div class="song-errors alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div id="error_explanation">
        <strong><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</strong>
        <ul>
        <% @song.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-6 required <%= highlight_if_errors(@song, :name) %>">
      <%= f.label :name, 'Song Title' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :artist %>
      <%= f.text_field :artist, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4 required <%= highlight_if_errors(@song, :tempo) %>">
      <%= f.label :tempo %>
      <%= f.select :tempo, Song::VALID_TEMPOS, { prompt: "Choose tempo" }, class: 'form-control' %>
    </div>
    <div class="form-group col-md-4 <%= highlight_if_errors(@song, :bpm) %>">
      <%= f.label :bpm %>
      <%= f.number_field :bpm, in: 1..1000, class: 'form-control' %>
    </div>
    <div class="form-group col-md-4 required <%= highlight_if_errors(@song, :key) %>">
      <%= f.label :key %>
      <%= f.select :key, Song::VALID_KEYS, { prompt: "Choose key" }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :standard_scan, "Standard Scan" %>
    <%= f.text_field :standard_scan, placeholder: "e.g. V1. V2. PC. C. V3. V4.", class: 'form-control' %>
  </div>

  <div class="form-group required <%= highlight_if_errors(@song, :chord_sheet) %>">
    <%= f.label :chord_sheet, "Chord Sheet" %>
    <br>
    <i>*IMPORTANT*<br>
      Please upload chord sheet with chords represented in numbers instead of letters.<br>
      e.g. "I" as in capitalized roman number 1 instead of C<br>
      Major chords: I II III IV V VI VII<br>
      Minor chords: i ii iii iv v vi vii<br>
      Suspended chords: Is IIs etc.<br>
      Major 7 chords: I7 II7 etc.<br>
      Diminished chords: Idim IIdim etc.<br>
    </i>
    <%= f.text_area :chord_sheet, class: 'fixed-width form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :spotify_uri %>
    <br>
    <i>Open Spotify > Right Click On Song > Share > Hold Option/Alt > Copy Spotify URI</i>
    <%= f.text_field :spotify_uri, placeholder: "e.g. spotify:track:6qdpQ6jPiaCYE9Qw4nZVuD", class: 'form-control' %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-warning' %>
<% end %>
