<%= form_for @song, html: {class: 'form'} do |f| %>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :name, 'Song Title' %><br/>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :artist %><br/>
      <%= f.text_field :artist, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :tempo %><br/>
      <%= f.select :tempo, Song::VALID_TEMPOS, {}, class: 'form-control' %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :key %><br/>
      <%= f.select :key, Song::VALID_KEYS, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :standard_scan %><br/>
      <%= f.text_field :standard_scan, placeholder: "e.g. V1. V2. PC. C. V3. V4.", class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :chord_sheet %><br/>
      <div class="textarea-container">
        <div class="backdrop fixed-width">
          <div class="textarea-markup"></div>
          <div class="separator"></div>
        </div>
      </div>
      <%= f.text_area :chord_sheet, class: 'form-control fixed-width' %>
    </div>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-warning' %>
<% end %>
