
<%= stylesheet_link_tag 'songs_manifest' %>

<div class="index-page">
  <div class="container">
    <div class="row">
      <div class="center-block">
        <h1>Songs</h1>

        <div class="search">
          <div class="search_input_container">
            <input type="search" id="songs-search-field" class="form-control search_input" placeholder="Search lyrics, song titles, and artists"/>
            <i class="fa fa-search"></i>
          </div>
          <table class="search_filter filter-selection" border="0">
            <tbody>
              <tr>
                <td>Key</td>
                <td><%= select_tag :key, options_for_select(@key_opts, selected: 'Any'), class: 'form-control' %></td>
                <td></td>
                <td>Tempo</td>
                <td><%= select_tag :tempo, options_for_select(@tempo_opts, selected: 'Any'), class: 'form-control' %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <table class="tbl songs-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Artist</th>
              <th>Tempo</th>
              <th>Key</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div class="preview-drawer">
    <div class="close-button">x</div>
    <h1 class="name"></h1>
    <div class="actions">
      <%= link_to 'Edit', nil, target: '_blank', class: 'edit' %>
      <%= link_to 'Print', nil, target: '_blank', class: 'print' %>
      <%= select_tag :transpose_to, options_for_select(@key_opts[1..-1]) %>
    </div>
    <h3 class="artist"></h3>
    <div class="meta-info">
      <span class="key"></span><span class="tempo"></span>
    </div>
    <div class="song-sheet fixed-width"></div>
  </div>
</div>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'songs/index' %>
<% end %>
