
<%= stylesheet_link_tag 'songs_manifest' %>

<div class="index-page">
  <div class="container">
    <div class="row">
      <div class="center-block">
        <h1>Songs</h1>
        <input type="search" id="songs-search-field" class="form-control" placeholder="Search lyrics, song titles, and artists"/>
        <table class="filter-selection" border="0">
          <tbody>
            <tr>
              <td>Key:</td>
              <td><%= select_tag :key, options_for_select(@key_opts, selected: 'Any') %></td>
              <td>Tempo:</td>
              <td><%= select_tag :tempo, options_for_select(@tempo_opts, selected: 'Any') %></td>
            </tr>
          </tbody>
        </table>

        <table class="songs-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Artist</th>
              <th>Tempo</th>
              <th>Key</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div class="preview-drawer">
    <div class="close-button">X</div>
    <h1 class="name"></h1>
    <div class="song-sheet"></div>
  </div>
</div>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'songs/index' %>
<% end %>
