<!DOCTYPE html>
<html>
<head>
  <title>Print <%= @song %></title>
  <%= stylesheet_link_tag 'print-songs', media: 'all' %>
</head>
<body>
  <div id="heading">
    <h1 class="title"><%= @song %></h1>
    <p>
      <% if @song.artist.present? %>
        <b>Artist:</b> <%= @song.artist %> &nbsp;|&nbsp;
      <% end %>
      <b>Key:</b> <%= @song.key %> &nbsp;|&nbsp;
      <b>Tempo:</b> <%= @song.tempo %>
    </p>
    <% if @song.standard_scan.present? %>
      <p class="standard-scan"><b>Standard Scan:</b> <%= @song.standard_scan %></p>
    <% end %>
  </br>
  </div>

  <div class="chord-sheet">
    <div>
      <% get_lines_for_columns.each do |column_lines| %>
        <div>
          <% column_lines.each do |line| %>
            <% class_for_line = get_class_for_line(line) %>
            <% if class_for_line == "blank" %>
              <br class=<%= class_for_line %>>
            <% else %>
              <p class=<%= class_for_line %>><%= line %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>