<div class="show-page">
  <h1><%= @song %></h1>
  <%= link_to "Edit", edit_song_path %>
  <table class="song-metadata">
    <thead>
      <td>Artist</td>
      <td>Recommended Key</td>
      <td>Tempo</td>
    </thead>
    <tbody>
      <tr>
        <td><%= @song.artist %></td>
        <td><%= @song.key %></td>
        <td><%= @song.tempo %></td>
      </tr>
    </tbody>
  </table>

  Transpose <%= select_tag :transpose_to, get_key_opts(@song.key) %>
  <%= link_to "Print in current key", print_song_path, id: "print-btn" %>
  <div class="fixed-width chord-sheet "><%= @song.chord_sheet %></div>
</div>

<%= javascript_include_tag 'songs/show' %>