<div class="paging_simple_numbers">
  <ul class="pagination">
    <li class="paginate_button previous <%= 'disabled' if @previous_disabled %>">
      <% if @previous_disabled %>
        <span>Previous</span>
      <% else %>
        <%= link_to "Previous", audits_path(page_num: @page_num - 1) %>
      <% end %>
    </li>
    <% (1..@total_pages).each do |num| %>
      <li class="paginate_button <%= 'active' if num == @page_num %>">
        <% if num == @page_num %>
          <span><%= num %></span>
        <% else %>
          <%= link_to num, audits_path(page_num: num) %>
        <% end %>
      </li>
    <% end %>
    <li class="paginate_button previous <%= 'disabled' if @next_disabled %>">
      <% if @next_disabled %>
        <span>Next</span>
      <% else %>
        <%= link_to "Next", audits_path(page_num: @page_num + 1), class: "disabled" %>
      <% end %>
    </li>
  </ul>
</div>