<% set_page_title "Recent Changes" %>

<div class="container">
  <h1 class="page-header">Recent Changes</h1>

  <div class="audits-controls">
    <div class="audit-pages">
      <%= will_paginate @audits, param_name: "page_num", previous_label: "Previous", next_label: "Next" %>
    </div>

    <div class="audits-filter">
    <b>Filter by </b>
      <ul class="nav nav-pills">
        <% AuditAction::ALL.each do |action| %>
          <li role="presentation" class="<%= set_active_if_action(action) %>">
            <%= link_to pluralize_audit_action(action).capitalize, audits_path(audit_action: action) %>
          </li>
        <% end %>
      </ul>
      <% if @audit_action_filter %>
        <%= link_to audits_path do %>
          <i class="fa fa-times-circle"></i>Clear
        <% end %>
      <% end %>
    </div>

  </div>
  <br/>
  <br/>

  <% @audits_info_list.each do |audit, song_name, is_deleted| %>
    <%= render partial: "audit", locals: { audit: audit, song_name: song_name, is_deleted: is_deleted } %>
    <hr/>
  <% end %>

  <%= will_paginate @audits, param_name: "page_num", previous_label: "Previous", next_label: "Next" %>

</div>
