<% set_page_title "Recent Changes" %>

<div class="container">
  <h1 class="page-header">Recent Changes</h1>

  <div class="audits-controls">
    <div class="audit-pages">
      <%= will_paginate @audits, param_name: "page_num", previous_label: "Previous", next_label: "Next" %>
    </div>
    <div class="audits-filter">
    <b>Only show</b>
      <ul class="nav nav-pills">
        <li role="presentation" class="<%= set_active_if_action(Audit::UPDATE) %>">
          <%= link_to "Updates", audits_path(audit_action: Audit::UPDATE) %>
        </li>
        <li role="presentation" class="<%= set_active_if_action(Audit::CREATE) %>">
          <%= link_to "Creations", audits_path(audit_action: Audit::CREATE) %>
        </li>
        <li role="presentation" class="<%= set_active_if_action(Audit::DESTROY) %>">
          <%= link_to "Deletions", audits_path(audit_action: Audit::DESTROY) %>
        </li>
      </ul>
      <% if @audit_action_filter %>
        <%= link_to audits_path do %>
          <i class="fa fa-times-circle"></i>Clear
        <% end %>
      <% end %>
    </div>
  </div>
  <br/>
  <br/>

  <% @audits_info_list.each do |audit, song_name, is_deleted| %>
    <div class="row <%= audit_background_for_audit_action(audit.action) %>">
      <div class="col-md-12">
        <h4>
          <span class="<%= text_class_for_audit_action(audit.action) %>">
            <%= audit_action_past_tense(audit.action).capitalize %>
          </span>
          <strong>
            <% if is_deleted %>
              <%= song_name %> <small>(now deleted)</small>
            <% else %>
              <%= link_to song_name, song_path(audit.auditable_id) %>
            <% end %>
          </strong>
        </h4>
        <h5>Edit <%= audit.version %></h5>
        <h5>by <strong><%= audit.user.to_s %></strong> at <%= audit.created_at %></h5>
        <br/>
        <%= render partial: "audit_details", locals: { audit: audit } %>
      </div>
    </div>
    <hr/>
  <% end %>

  <%= will_paginate @audits, param_name: "page_num", previous_label: "Previous", next_label: "Next" %>

</div>
