<% set_page_title "Recent Changes" %>

<div class="container">
  <h1 class="page-header">Recent Changes</h1>

  <% @audits_to_song_map.each do |audit, song| %>
    <div class="row">
      <div class="col-md-12">
        <h4>Change to <strong><%= song.name %></strong></h4>
        <h5>Edit <%= audit.version %></h5>
        <h5><%= audit_action_past_tense(audit.action).capitalize %> by <strong><%= audit.user.to_s %></strong> at <%= audit.created_at %></h5>
        <br/>
        <%= render partial: "field_changes", locals: { audit: audit } %>
        <hr/>
      </div>
    </div>
  <% end %>
</div>