<% page_title = @song.name + " Edit History" %>

<% set_page_title page_title %>

<div class="container">
  <h1 class="page-header">
    <%= page_title %>
    <small>
      <%= link_to song_path, { method: :get, class: "pull-right pill pill_link-blue button-spacing" } do %>
        <i class="fa fa-arrow-left"></i> Back
      <% end %>
    </small>
  </h1>

  <% @update_audits.reverse.each do |audit| %>
    <div class="row">
      <div class="col-md-12">
        <h4><strong><%= audit.created_at.strftime('%B %d, %Y at %l:%M %p') %></strong></h4>
        <h5>Edited by <%= audit.user.to_s %></h5>
        <br/>
        <%= render partial: "audit_details", locals: { audit: audit } %>
        <hr/>
      </div>
    </div>
  <% end %>
</div>