<% page_title = @song.name + " Edit History" %>

<% set_page_title page_title %>

<div class="container">
  <h1 class="page-header">
    <%= page_title %>
    <small>
      <%= link_to song_path, { method: :get, class: "pull-right pill pill_link-blue button-spacing" } do %>
        <i class="fa fa-arrow-left"></i> Back
      <% end %>
    </small>
  </h1>

  <% @audits.reverse.each do |audit| %>
    <div class="row">
      <div class="col-md-12">
        <h4>Version <%= audit.version %></h4>
        <h5><%= audit_action_past_tense(audit.action).capitalize %> by <strong><%= audit.user.to_s %></strong> at <%= audit.created_at %></h5>
        <br/>
        <%= render partial: "field_changes", locals: { audit: audit } %>
        <hr/>
      </div>
    </div>
  <% end %>
</div>