<!DOCTYPE html>
<html>
<head>
  <title>GraceTunes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script src="https://use.fontawesome.com/29c432d1e5.js"></script>
</head>
<body>
  <%= render 'header' %>

  <div class="<%= 'content-push' if current_user.signed_in? %>">
    <%= render partial: "flash_messages", flash: flash %> 
    <%= yield %>
  </div>

</body>
</html>
