<!DOCTYPE html>
<html>
<head>
  <title>GraceTunes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
</head>
<body>
  <div class="header navbar-fixed-top" id='head'>
    <%= render 'header' %>
  </div>

  <%= render partial: "flash_messages", flash: flash %> 
  <%= yield %>

</body>
</html>
