<!DOCTYPE html>
<html>
<head>
  <title>GraceTunes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render 'header' unless @no_header %>

  <div class="<%= 'content-push' unless @no_header %>">
    <%= render partial: "flash_messages", flash: flash %>
    <%= yield %>
  </div>

</body>
</html>
